input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    --size: 16px;
    background-color: var(--colorNeutralBackground1);
    border-radius: var(--borderRadiusSmall);
    border: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    width: var(--size);
    /**/
    aspect-ratio: 1 / 1;

    &:checked {
        border-color: var(--colorCompoundBrandStroke);
        background-color: var(--colorCompoundBrandBackground);

        /**/
        /*  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white'  d='M13.86 3.66a.5.5 0 01-.02.7l-7.93 7.48a.6.6 0 01-.84-.02L2.4 9.1a.5.5 0 01.72-.7l2.4 2.44 7.65-7.2a.5.5 0 01.7.02z'%3E%3C/path%3E%3C/svg%3E");
          */
        /* background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.76 3.2c.3.29.32.76.04 1.06l-4.25 4.5a.75.75 0 0 1-1.08.02L2.22 6.53a.75.75 0 0 1 1.06-1.06l1.7 1.7L8.7 3.24a.75.75 0 0 1 1.06-.04Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: cover;*/
        &:checked:after {
            display: block;
            content: '';
            box-sizing: border-box;
            background-color: var(--colorNeutralForegroundOnBrand);
            /*the icon color !!!*/
            border: var(--strokeWidthThin) solid var(--colorCompoundBrandBackground);
            aspect-ratio: 1 / 1;
            position: relative;
            mask-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.76 3.2c.3.29.32.76.04 1.06l-4.25 4.5a.75.75 0 0 1-1.08.02L2.22 6.53a.75.75 0 0 1 1.06-1.06l1.7 1.7L8.7 3.24a.75.75 0 0 1 1.06-.04Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
            mask-repeat: no-repeat no-repeat;
            mask-position: center center;
            mask-size: cover;
        }

        &:checked:disabled:after {

            background-color: var(--colorNeutralForegroundDisabled);
            /*the icon color !!!*/

        }

        &:checked:hover:not(:disabled) {
            accent-color: var(--colorBrandBackgroundHover);
            background-color: var(--colorBrandBackgroundHover);
            border-color: var(--colorBrandBackgroundHover);
        }

        &:checked:hover:active:not(:disabled) {
            accent-color: var(--colorBrandBackgroundPressed);
            background-color: var(--colorBrandBackgroundPressed);
            border-color: var(--colorBrandBackgroundPressed);
        }
    }

    &:hover {
        /* accent-color: var(--colorNeutralBackground1Hover);
        background-color: var(--colorNeutralBackground1Hover);
        border-color: var(--colorNeutralStroke1Hover);*/
    }

    &:hover:active {
        /* accent-color: var(--colorNeutralBackground1Pressed);
        background-color: var(--colorNeutralBackground1Pressed);
        border-color: var(--colorNeutralStroke1Pressed);*/
    }

    &:focus-visible {}

    &:disabled,
    &:disabled:hover {
        background-color: var(--colorNeutralBackgroundDisabled);
        border-color: var(--colorNeutralStrokeDisabled);
        /**/
        cursor: default;
        pointer-events: none;
    }
     /* for blazor .invalid and css :invalid*/
     &.invalid,
     &:invalid {
         /*org web-component border-color: var(--colorPaletteRedBorder2);*/
         /*more compatible with blazor default .mportant style*/
         border: none;
         outline: 1px solid var(--colorPaletteRedBorder2);
     }

}