@page "/inputradio"
@{
    string controlName = "InputRadio";
}
<h1>@controlName</h1>

<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-radio--docs" target="_blank">See on Web Components v3</a>
</p>
<Showcase>
    <label>

        <input type="radio"  />

    </label>
</Showcase>
<h2>STORIES</h2>

<h3>Default</h3>
<Showcase>
    <label>
        <input type="radio" />
        @controlName
    </label>
</Showcase>

<h3>Without label</h3>
<Showcase>
    <input type="radio"   />
</Showcase>

<h3>Disabled</h3>
<Showcase>
    <label>
        <input type="radio" disabled />
        Disabled @controlName
    </label>
</Showcase>



<h3>Invalid</h3>
<Showcase>
    <label>
        <input type="radio" class="invalid" />
        Invalid @controlName Blazor (class .invalid)
    </label>
    <label>
        <input type="radio" aria-invalid="true" />
        Invalid @controlName (aria-invalid)
    </label>
    <form>
        <label>
            <input type="radio" name="invalidDemo" required />
            Invalid @controlName CSS :invalid (required in form)
        </label>
    </form>
</Showcase>

@code {
    bool value;


}

