@page "/inputRange"

<h1>Range</h1>
<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-slider--docs" target="_blank">See on Web Components v3</a>
</p>
<Showcase >
    <input  type="range" />
</Showcase>
<h2>STORIES</h2>
<h3>Default</h3>
<Showcase>
    <label>
        Range Input
        <input type="range" />
     </label>
</Showcase>

<h3>Without Label</h3>
<Showcase>
    <input type="range" />
</Showcase>

<h3>Disabled</h3>
<Showcase>
    <label>
        Range Input
        <input disabled type="range" />
    </label>
</Showcase>

<h2>Size</h2>

<h3>Small</h3>
<Showcase>
    <input class="range--small" type="range" />
</Showcase>
<h3>Medium</h3>
<Showcase>
    <input type="range" />
</Showcase>
<h3>Large</h3>
<Showcase>
    <input type="range" class="range--large" />
</Showcase>
<h3>Vertical</h3>
<Showcase>
    <div style="display:flex; justify-content: space-between; height:300px">
        <input class="range--vertical range--vertical--small" type="range" orient="vertical" />
        <input class="range--vertical range--vertical--small" type="range" orient="vertical" disabled />
        <input class="range--vertical" type="range" orient="vertical" />
        <input class="range--vertical" type="range" orient="vertical" disabled />
        <input class="range--vertical range--vertical--large" type="range" orient="vertical" />
        <input class="range--vertical range--vertical--large" type="range" orient="vertical" disabled />
    </div>
</Showcase>
@code {

}
