<div class="top-row">
@*     <H3>FluentUI2-CSS-Blazor</H3> *@

</div>


<div class="nav-scrollable" >
   
   
    <nav class="Navigation--Verical @collapsedCSS">
        @if (RendererInfo.IsInteractive)
        {
            <div class="nav-item" @onclick="@(()=> collapsed=!collapsed)">
                <svg style="width:20px; height:20px; fill:var(--colorBrandBackground)" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><!--!--><path d="M2.75 18h18.5a.75.75 0 0 1 .1 1.5H2.75a.75.75 0 0 1-.1-1.5h18.6-18.5Zm0-6.5h18.5a.75.75 0 0 1 .1 1.5H2.75a.75.75 0 0 1-.1-1.5h18.6-18.5Zm0-6.5h18.5a.75.75 0 0 1 .1 1.5H2.75a.75.75 0 0 1-.1-1.49h18.6-18.5Z"></path></svg>
            </div>
        }
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg  focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M9 2.39a1.5 1.5 0 0 1 2 0l5.5 4.94c.32.28.5.69.5 1.12v7.05c0 .83-.67 1.5-1.5 1.5H13a1.5 1.5 0 0 1-1.5-1.5V12a.5.5 0 0 0-.5-.5H9a.5.5 0 0 0-.5.5v3.5c0 .83-.67 1.5-1.5 1.5H4.5A1.5 1.5 0 0 1 3 15.5V8.45c0-.43.18-.84.5-1.12L9 2.39Zm1.33.74a.5.5 0 0 0-.66 0l-5.5 4.94a.5.5 0 0 0-.17.38v7.05c0 .28.22.5.5.5H7a.5.5 0 0 0 .5-.5V12c0-.83.67-1.5 1.5-1.5h2c.83 0 1.5.67 1.5 1.5v3.5c0 .28.22.5.5.5h2.5a.5.5 0 0 0 .5-.5V8.45a.5.5 0 0 0-.17-.38l-5.5-4.94Z"></path>
                </svg>
                <span>Home (wip)</span>
            </NavLink>
        </div>
       
        <div class="nav-item">
            <NavLink class="nav-link" href="label" Match="NavLinkMatch.All">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M13 3.5c.2 0 .4.13.47.32l3 8v.02l1.5 3.98a.5.5 0 1 1-.94.36l-1.38-3.68h-5.3l-1.38 3.68a.5.5 0 0 1-.93 0L6.96 13.5H4.04l-1.08 2.69a.5.5 0 1 1-.92-.38l1.2-2.98v-.03l1.8-4.49a.5.5 0 0 1 .92 0l1.8 4.5v.02l.73 1.79 1.04-2.78v-.03l3-7.99A.5.5 0 0 1 13 3.5Zm-2.28 8h4.56L13 5.42l-2.28 6.08Zm-4.16 1L5.5 9.85 4.44 12.5h2.12Z"></path>
                </svg>
                <span>Label</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink disabled class="nav-link" href="button">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M2 8a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v3a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V8Zm3-2a2 2 0 0 0-2 2v3c0 1.1.9 2 2 2h10a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H5Zm4 3.5c0-.28.22-.5.5-.5H14a.5.5 0 0 1 0 1H9.5a.5.5 0 0 1-.5-.5Zm-1 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"></path>
                </svg>
                <span>Button</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="InputTextArear">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true">
                    <!--!-->
                    <path d="M6 6.5c0-.28.22-.5.5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM6.5 9a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4ZM6 12.5c0-.28.22-.5.5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM14.5 3A2.5 2.5 0 0 1 17 5.5v9l-.01.25c-.4 0-.77.1-1.09.29.07-.17.1-.35.1-.54v-9c0-.83-.67-1.5-1.5-1.5h-9C4.67 4 4 4.67 4 5.5v9c0 .83.67 1.5 1.5 1.5h1.48c-.15.3-.23.64-.23 1H5.5A2.5 2.5 0 0 1 3 14.5v-9A2.5 2.5 0 0 1 5.5 3h9Zm-4.25 14a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM13 18.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Zm4 0a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"></path>
                </svg>
                <span>InputTextArear (wip)</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputtext">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M6 6.5c0-.28.22-.5.5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM6.5 9a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4ZM6 12.5c0-.28.22-.5.5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM14.5 3A2.5 2.5 0 0 1 17 5.5v9l-.01.25c-.4 0-.77.1-1.09.29.07-.17.1-.35.1-.54v-9c0-.83-.67-1.5-1.5-1.5h-9C4.67 4 4 4.67 4 5.5v9c0 .83.67 1.5 1.5 1.5h1.48c-.15.3-.23.64-.23 1H5.5A2.5 2.5 0 0 1 3 14.5v-9A2.5 2.5 0 0 1 5.5 3h9Zm-4.25 14a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM13 18.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Zm4 0a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"></path>
                </svg>
                <span>InputText</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputnumber">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M9.1 6.01a.5.5 0 0 1 .39.6L9.19 8h2.48L12 6.4a.5.5 0 0 1 .98.2l-.3 1.4h.81a.5.5 0 0 1 0 1h-1.02l-.43 2H13a.5.5 0 0 1 0 1h-1.17l-.34 1.6a.5.5 0 1 1-.98-.2l.3-1.4H8.33L8 13.6a.5.5 0 1 1-.98-.2l.3-1.4H6.5a.5.5 0 0 1 0-1h1.02l.43-2H7a.5.5 0 0 1 0-1h1.17l.34-1.6a.5.5 0 0 1 .6-.39ZM8.55 11h2.47l.43-2H8.98l-.43 2ZM3 5.5A2.5 2.5 0 0 1 5.5 3h9A2.5 2.5 0 0 1 17 5.5v9a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 3 14.5v-9ZM5.5 4C4.67 4 4 4.67 4 5.5v9c0 .83.67 1.5 1.5 1.5h9c.83 0 1.5-.67 1.5-1.5v-9c0-.83-.67-1.5-1.5-1.5h-9Z"></path>
                </svg>
                <span>InputNumber</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputDate">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M7 11a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm1 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm2-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm1 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm2-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm4-5.5A2.5 2.5 0 0 0 14.5 3h-9A2.5 2.5 0 0 0 3 5.5v9A2.5 2.5 0 0 0 5.5 17h9a2.5 2.5 0 0 0 2.5-2.5v-9ZM4 7h12v7.5c0 .83-.67 1.5-1.5 1.5h-9A1.5 1.5 0 0 1 4 14.5V7Zm1.5-3h9c.83 0 1.5.67 1.5 1.5V6H4v-.5C4 4.67 4.67 4 5.5 4Z"></path>
                </svg>
                <span>InputDate (wip)</span>
            </NavLink>
        </div>
         <div class="nav-item">
            <NavLink class="nav-link" href="inputCheckbox">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M6 3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3H6ZM4 6c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6Zm9.85 1.85a.5.5 0 0 0-.7-.7L8.5 11.79l-1.65-1.64a.5.5 0 0 0-.7.7l2 2c.2.2.5.2.7 0l5-5Z"></path>
                </svg>
                <span>InputCheckbox (wip)</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputRadio">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true"><!--!-->
                    <path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-8 7a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z"></path>
                </svg>
                <span>InputRadio (wip)</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputRadioGroup">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true">
                    <!--!-->
                    <path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-8 7a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z"></path>
                </svg>
                <span>InputRadioGroup (wip)</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputRange">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true">
                    <!--!-->
                    <path d="M14.95 5a2.5 2.5 0 0 0-4.9 0H2.5a.5.5 0 0 0 0 1h7.55a2.5 2.5 0 0 0 4.9 0h2.55a.5.5 0 0 0 0-1h-2.55ZM12.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm-2.55 7a2.5 2.5 0 0 0-4.9 0H2.5a.5.5 0 0 0 0 1h2.55a2.5 2.5 0 0 0 4.9 0h7.55a.5.5 0 0 0 0-1H9.95ZM7.5 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"></path>
                </svg>
                <span>Range (wip)</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="inputSelect">
                <svg focusable="false" viewBox="0 0 20 20" aria-hidden="true">
                    <!--!-->
                    <path d="M2.5 3a.5.5 0 0 0-.5.5v5c0 .28.22.5.5.5h2a.5.5 0 0 0 0-1H3V4h1.5a.5.5 0 0 0 0-1h-2Zm0 8a.5.5 0 0 0-.5.5v5c0 .28.22.5.5.5h2a.5.5 0 0 0 0-1H3v-4h1.5a.5.5 0 0 0 0-1h-2ZM6 4.5c0-.28.22-.5.5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Zm.5 7.5a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11ZM6 7.5c0-.28.22-.5.5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5Zm.5 7.5a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11Z"></path>
                </svg>
                <span>Select (wip)</span>
            </NavLink>
        </div>
    </nav>
   @*  <div style="margin:10px;display:flex">
       
            <a style="word-wrap: break-word;" href="https://react.fluentui.dev/?path=/docs/preview-components-nav--docs" target="_blank">React v9</a>

       
      
            <a style="word-wrap: break-word;" href="https://www.fluentui-blazor.net/" target="_blank">Fluent ui Blazor</a>
      
    </div> *@
    
</div>
@code{
    bool collapsed = false;
    string collapsedCSS => collapsed ? "collapsed" : "";

    
}

