label {
    color: var(--colorNeutralForeground1);
    cursor: pointer;
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    user-select: none;
}

    .label--size-small {
        font-size: var(--fontSizeBase200);
        line-height: var(--lineHeightBase200);
    }

    .label--size-medium {
    }

    .label--size-large {
        font-size: var(--fontSizeBase400);
        line-height: var(--lineHeightBase400);
        font-weight: var(--fontWeightSemibold);
    }

    .label--weight-regular {
    }

    .label--weight-semibold {
        font-weight: var(--fontWeightSemibold);
    }
    /*==============with input===========================*/

    label:has(input:disabled),
    label:has(select:disabled) {
        color: var(--colorNeutralForegroundDisabled);
        cursor: default;
    }

    label:has(input[type="radio"]),
    label:has(input[type="checkbox"]) {
        display: flex;
        align-items: center;
    }
   
    label:has(input:not([type="checkbox"]):not([type="radio"])),
    label:has(select),
    label:has(textarea),
    label:has(span.radiogroup) {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        cursor: default;
    }



    

    /* modifi  inputs with default label*/
    label > input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
    label > select,
    label > textarea {
        margin-top: var(--spacingVerticalXS);
    }
    label > input[type="range"] {
        margin-top: var(--spacingVerticalS);
    }
    label > input[type="checkbox"],
    label > input[type="radio"],
    .radiogroup > input[type="radio"]{
        margin-right: var(--spacingVerticalM);
        margin-left: 0;

    }

    /*Left*/
  

    label:has(input:not([type="checkbox"]):not([type="radio"])).label--position-left,
    label:has(select).label--position-left,
    label:has(textarea).label--position-left ,
    label:has(span.radiogroup).label--position-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    label:has(span.radiogroup).label--position-left > .radiogroup{
     
        margin-left:  var(--spacingVerticalM);;
        
    }
    
    label:has(textarea).label--position-left  {
             align-items:start;
    }
    
    /* Modify inputs with label left*/
    label.label--position-left > input:not([type="checkbox"]):not([type="radio"]),
    label.label--position-left > select,
    label.label--position-left > textarea
    {
        margin-top: initial;
        margin-left: var(--spacingVerticalM);
    }

    label.label--position-left > input[type="checkbox"],
    label.label--position-left > input[type="radio"] {
        margin-left: var(--spacingVerticalM);
        margin-right: inherit;
        margin-top: inherit;
    }


    