
/* http://danielstern.ca/range.css/#/ */
input[type=range] {
    width: 100%;
    /* margin: 5.5px 0;*/
    background-color: transparent;
    -webkit-appearance: none;
    --trackSizeMedium:4px; /*but its 5 */
    --thumbSizeMedium:18px;
    
    --trackSizeSmal:2px; /*but its 3 */
    --thumbSizeSaml:14px;
    

}

input[type=range]:focus {
    outline: none;
}





input[type=range]::-webkit-slider-runnable-track {
    background: var(--colorBrandBackground);
    border: 0;
    outline: none;
    width: 100%;
    height: var(--trackSizeMedium);
    cursor: pointer;
    border-radius: var(--borderRadiusCircular);
   
}
input[type=range].range--smal::-webkit-slider-runnable-track {
    height: var(--trackSizeSmal);
}


input[type=range]::-webkit-slider-thumb {
    margin-top:  -6.5px;
    width: var(--thumbSizeMedium);
    height: var(--thumbSizeMedium);
    background: var(--colorBrandBackground);
    border: 4px solid var(--colorNeutralBackground1);
    border-radius:  var(--borderRadiusCircular);
    cursor: pointer;
    -webkit-appearance: none;
    outline: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    outline-offset: 0px;
    
}
input[type=range].range--smal::-webkit-slider-thumb 
{
    margin-top: -6px;
    width: var(--thumbSizeSaml);
    height: var(--thumbSizeSaml);
    border: 3px solid var(--colorNeutralBackground1);
    
}

input[type=range]:disabled::-webkit-slider-runnable-track,
input[type=range]:disabled::-webkit-slider-thumb {
    background: var(--colorNeutralForegroundDisabled);
    outline-color: var(--colorNeutralForegroundDisabled);
    cursor: default;
}

input[type=range]:hover:not(:disabled)::-webkit-slider-runnable-track,
input[type=range]:hover:not(:disabled)::-webkit-slider-thumb {
   
    background: var(--colorBrandBackgroundHover);
}

input[type=range]:active:not(:disabled)::-webkit-slider-runnable-track,
input[type=range]:active:not(:disabled)::-webkit-slider-thumb {
 
    background: var(--colorBrandBackgroundPressed);
}

/*firefox*/
input[type=range]::-moz-range-track {
    background: var(--colorBrandBackground);
    border: 0;
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 1000px;
}

input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: var(--colorBrandBackground);
    border: 3px solid var(--colorNeutralBackground1);
    border-radius: 16px;
    cursor: pointer;
    outline: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
    outline-offset: 0px;
}

input[type=range]:disabled::-moz-range-track ,
input[type=range]:disabled::-moz-range-thumb {
    background: var(--colorNeutralForegroundDisabled);
    outline-color: var(--colorNeutralForegroundDisabled);
    cursor: default;
}

input[type=range]:hover:not(:disabled)::-moz-range-track ,
input[type=range]:hover:not(:disabled)::-moz-range-thumb {
   
    background: var(--colorBrandBackgroundHover);
}

input[type=range]:active:not(:disabled)::-moz-range-track ,
input[type=range]:active:not(:disabled)::-moz-range-thumb {
 
    background: var(--colorBrandBackgroundPressed);
}

 

/*============== enable disable .... */
