@page "/button"
<h1>Button</h1>
<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-button-button--docs" target="_blank">See on Web Components v3</a>
</p>
<div class="fluent-badge">
    <button>Button</button>
</div>
<h2>STORIES</h2>
<h3>Default</h3>
<div class="fluent-badge">
    <button>Button</button>
</div>

<h3>Apperiance</h3>
<div class="fluent-badge">
    <button>Default</button>
    <button class="ButtonAppearance.Primary">Primary</button>
    <button class="ButtonAppearance.Outline">Outline</button>   
    <button class="ButtonAppearance.Subtle">Subtle</button>
    <button class="ButtonAppearance.Transparent">Transparent</button>
   
</div>


<h3>Shape</h3>
<div class="fluent-badge">
   
    <button class="ButtonShape.Rounded">Rounded</button>
    <button class="ButtonShape.Circular">Circular</button>
    <button class="ButtonShape.Square">Square</button>
   

</div>
<h3>Size</h3>
<div class="fluent-badge">

    <button class="ButtonSize.Small">Small</button>
    <button class="ButtonSize.Medium">Medium</button>
    <button class="ButtonSize.Large">Large</button>
</div>

<h3>Disabled</h3>
<div class="fluent-badge">
    <button disabled>  Default</button>
    <button disabled class="ButtonAppearance.Primary">Primary</button>
    <button disabled class="ButtonAppearance.Outline">Outline</button>
    <button disabled class="ButtonAppearance.Subtle">Subtle</button>
    <button disabled class="ButtonAppearance.Transparent">Transparent</button>

</div>

@code {
        
}
