@page "/inputcheckbox"
<h1>InputCheckbox</h1>

<a href="https://web-components.fluentui.dev/?path=/docs/components-checkbox--docs" target="_blank" >link text</a>

<h3>Default</h3>
<div class="fluent-badge">
  
     
        <InputCheckbox @bind-Value="@bool1" />
  
</div>

@code {
    bool bool1 = true;
}
