@page "/inputradio"
@{
    string controlName = "InputRadio";
}
<h1>@controlName</h1>

<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-checkbox--docs" target="_blank">See on Web Components v3</a>
</p>
<div class="fluent-badge">
    <label>

        <input type="radio"  />

    </label>
</div>
<h2>STORIES</h2>

<h3>Default</h3>
<div class="fluent-badge">
    <label>
        @controlName
        <input type="radio" />
    </label>
</div>

<h3>Without label</h3>
<div class="fluent-badge">
    <input type="radio"   />
</div>

<h3>Disabled</h3>
<div class="fluent-badge">
    <label>
        Disabled  @controlName
         <input type="radio"  />
    </label>
</div>



<h3>Invalied</h3>
<div class="fluent-badge">
    <label>
        Invalied  @controlName Blazor (class .invalid)
         <input type="radio" class="invalid"  />
    </label>
    <label>
        Invalied  @controlName CSS :invalid
         <input type="radio"  required />
    </label>
</div>

@code {
    bool value;


}

