@page "/label"
<h3>Label</h3>

<div class="fluent-badge">
    <label>Label</label>
</div>
<h1>Size</h1>
<div class="fluent-badge" style="display: flex;justify-content: space-evenly;">
    <label class="LabelSize.Small">Small Label</label>
    <label class="LabelSize.Medium">Medium Label</label>
    <label class="LabelSize.Large">Large Label</label>
</div>
<h1>Weight</h1>
<div class="fluent-badge" style="display: flex;justify-content: space-evenly;">
    <label class="LabelWeight.Regular">Regular Label</label>
    <label class="LabelWeight.Semibold">Semibold Label</label>
</div>

@code {

}
