@page "/inputRange"
<h1>Range</h1>
<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-slider--docs" target="_blank">See on Web Components v3</a>
</p>
<div class="fluent-badge">
    <input  type="range"/>
</div>
<h2>STORIES</h2>
<h3>Default</h3>
<div class="fluent-badge">
    <label>
        Range Input
        <input type="range" />
     </label>
</div>
<h3>Without Label</h3>
<div class="fluent-badge">
    <input type="range" />
</div>
<h3>Disabled</h3>
<div class="fluent-badge">
    <label>
        Range Input
        <input disabled type="range" />
    </label>
</div>

@code {

}
