/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider*/
/*********** Baseline, reset styles ***********/
/*********** Baseline, reset styles ***********/
/*input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: red;
    outline: none;

    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: var(--colorBrandBackground);
    outline: none;
 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
       
    }

    .slider::-webkit-slider-thumb {
        --size: 16px;
        -webkit-appearance: none;
        appearance: none;
        width: var(--size);
        background: var(--colorNeutralBackground1);
        cursor: pointer;
        border-radius: var(--size);
        outline: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
        outline-offset: 0px;
        aspect-ratio: 1 / 1;
        color:red
    }
        .slider::-webkit-slider-thumb:after
        {
            content:'ddd';
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #04AA6D;
            cursor: pointer;
        }*/
/* version 2 */


/* http://danielstern.ca/range.css/#/ */
input[type=range] {
    width: 100%;
   /* margin: 5.5px 0;*/
    background-color: transparent;
    -webkit-appearance: none;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background: var(--colorBrandBackground);
        border: 0;
        width: 100%;
        height: 4px;
        cursor: pointer;
        border-radius:1000px
    }

    input[type=range]::-webkit-slider-thumb {
        margin-top: -5.5px;
        width: 16px;
        height: 16px;
        background: var(--colorBrandBackground);
        border: 3px solid var(--colorNeutralBackground1);
        border-radius: 16px;
        cursor: pointer;
        -webkit-appearance: none;
        outline: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
        outline-offset: 0px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: var(--colorBrandBackground);
    }

    /*firefox*/
    input[type=range]::-moz-range-track {
        background: var(--colorBrandBackground);
        border: 0;
        width: 100%;
        height: 4px;
        cursor: pointer;
        border-radius: 1000px;
    }

    input[type=range]::-moz-range-thumb {
        width: 12px;
        height: 12px;
        background: var(--colorBrandBackground);
        border: 3px solid var(--colorNeutralBackground1);
        border-radius: 16px;
        cursor: pointer;
        outline: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
        outline-offset: 0px;
    }

    input[type=range]::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 6.5px 0;
        color: transparent;
        width: 100%;
        height: 5px;
        cursor: pointer;
    }

    input[type=range]::-ms-fill-lower {
        background: #00d100;
        border: 0;
    }

    input[type=range]::-ms-fill-upper {
        background: #00ff00;
        border: 0;
    }

    input[type=range]::-ms-thumb {
        width: 16px;
        height: 16px;
        background: #ff0000;
        border: 3px solid #ffffff;
        border-radius: 16px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #00ff00;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #2eff2e;
    }
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
