.fluent-badge {
    padding: 48px 24px;
    font-family: var(--fontFamilyBase);
    background: var(--colorNeutralBackground2);
    color: var(--colorNeutralForeground2);
    /**/
    border-radius: 16px;
   
    box-shadow: none;
    border: 1px solid #d1d1d1;
}
