label {
    color: var(--colorNeutralForeground1);
    cursor: pointer;
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    user-select: none;
}

    label.size-small,
    label.LabelSize\.Small {
        font-size: var(--fontSizeBase200);
        line-height: var(--lineHeightBase200);
    }

    label.size-medium,
    label.LabelSize\.Medium {
    }

    label.size-large,
    label.LabelSize\.Large {
        font-size: var(--fontSizeBase400);
        line-height: var(--lineHeightBase400);
        font-weight: var(--fontWeightSemibold);
    }

    label.weight-regular,
    label.LabelWeight\.Regular {
    }

    label.weight-semibold,
    label.LabelWeight\.Semibold {
        font-weight: var(--fontWeightSemibold);
    }
    /*==============with input===========================*/

    label:has(input:disabled) {
        color: var(--colorNeutralForegroundDisabled);
    }
    label:has(input:not([type="checkbox"]):not([type="radio"])),
    label:has(select),
    label:has(textarea) {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        cursor: default;
    }



    label:has(input[type="radio"]),
    label:has(input[type="checkbox"]) {
        display: flex;
        align-items: center;
    }

    /* modifi the inputs*/
    label > input:not([type="checkbox"]):not([type="radio"]),
    label > select,
    label > textarea {
        margin-top: var(--spacingVerticalXS);
    }

    label > input[type="checkbox"],
    label > input[type="radio"] {
        margin-right: var(--spacingVerticalM);
    }

    /*Left*/
  

    label:has(input:not([type="checkbox"]):not([type="radio"])).LabelPosition\.Left,
    label:has(select).LabelPosition\.Left ,
    label:has(textarea).LabelPosition\.Left  {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    label:has(textarea).LabelPosition\.Left  {
       
        align-items:start;
        
    }

    label.LabelPosition\.Left> input:not([type="checkbox"]):not([type="radio"]),
    label.LabelPosition\.Left> select,
    label.LabelPosition\.Left> textarea
    {
        margin-left: var(--spacingVerticalM);
    }

    label.LabelPosition\.Left > input[type="checkbox"],
    label.LabelPosition\.Left > input[type="radio"] {
        margin-left: var(--spacingVerticalM);
        margin-right: inherit;
        margin-top: inherit;
    }
