


input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
    align-items: center;
    color: var(--colorNeutralForeground1);
    background-color: var(--colorNeutralBackground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-bottom-color: var(--colorNeutralStrokeAccessible);
    border-radius: var(--borderRadiusMedium);
    box-sizing: border-box;
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    gap: var(--spacingHorizontalXXS);
    padding: 0 var(--spacingHorizontalMNudge);
    position: relative;
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    &:hover

{
}

&:hover:active {
}

:active {
}

&:focus {
}

&:focus-visible {
}

&:focus-within {
    outline: 0;
    border-bottom: 0;
    border-bottom: 2px solid var(--colorCompoundBrandStroke);
}

&:disabled,
&:disabled:hover {
    background: var(--colorTransparentBackground);
    border: var(--strokeWidthThin) solid var(--colorNeutralStrokeDisabled);
}

&:read-only {
    color: var(--colorNeutralForeground1);
}
/* for not blazor*/
&.invalid,
&:invalid {
    /*org web-component border-color: var(--colorPaletteRedBorder2);*/
    /*more compatible with blazor default .mportant style*/
    border: none;
    outline: 1px solid var(--colorPaletteRedBorder2);
}



}


input[style*="display:inline-flex"] {
    width: initial;
}

input[type="date"] {
    width: initial;
}

