select {
    align-items: center;
    background-color: var(--colorNeutralBackground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-bottom-color: var(--colorNeutralStrokeAccessible);
    border-radius: var(--borderRadiusMedium);
    box-sizing: border-box;
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    gap: var(--spacingHorizontalXXS);
    padding: 0 var(--spacingHorizontalMNudge);
    position: relative;
    width: 100%;
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    &:hover

{
}

&:hover:active {
}

:active {
}

&:focus {
}

&:focus-visible {
}

&:focus-within {
    outline: 0;
    border-bottom: 0;
    border-bottom: 2px solid var(--colorCompoundBrandStroke);
}

&:disabled,
&:disabled:hover {
    background: var(--colorTransparentBackground);
    border: var(--strokeWidthThin) solid var(--colorNeutralStrokeDisabled);
}

&:read-only {
    color: var(--colorNeutralForeground1);
}

&.invalid {
    /*org web-component border-color: var(--colorPaletteRedBorder2);*/
    /*more compatible with blazor default .mportant style*/
    border: none;
    outline: 1px solid var(--colorPaletteRedBorder2);
}

}

 /*   select:disabled {
        cursor: not-allowed;
        opacity: var(--disabled-opacity);
    }

    select:not([disabled]):hover {
        background: padding-box linear-gradient(var(--neutral-fill-hover), var(--neutral-fill-hover)), border-box var(--neutral-stroke-hover);
    }

    select:focus-visible {
        outline: 0;
    }
     the selected beckground because all othjer set afterwards
    select option {
        background: var(--neutral-fill-secondary-rest);
        color: var(--neutral-foreground-rest);
    }
        usual background
        select option:not(:disabled):not(:checked) {
            background: var(--neutral-fill-stealth-rest);
        }

option:disabled {
    background: var(--neutral-fill-input-rest);
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
}
*/