@page "/button"

<h1>Button</h1>
<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-button-button--docs" target="_blank">See on Web Components v3</a>
</p>
<Showcase >
    <button>Button</button>
</Showcase>

<h2>STORIES</h2>
<h3>Default</h3>
<Showcase >
    <button>Button</button>
</Showcase>

<h3>Apperiance</h3>
<Showcase>
    <button>Default</button>
    <button class="button--appearance-primary">Primary</button>
    <button class="button--appearance-outline">Outline</button>   
    <button class="button--appearance-subtle">Subtle</button>
    <button class="button--appearance-transparent">Transparent</button>
</Showcase>


<h3>Shape</h3>
<Showcase>

    
    <button class="button--shape-rounded">Rounded</button>
    <button class="button--shape-circular">Circular</button>
    <button class="button--shape-square">Square</button>
   

</Showcase>
<h3>Size</h3>
<Showcase>

    <button class="button--size-small">Small</button>
    <button class="button--size-medium">Medium</button>
    <button class="button--size-large">Large</button>
</Showcase>

<h3>Disabled</h3>
<Showcase>
    <button disabled>  Default</button>
    <button disabled class="button--appearance-primary">Primary</button>
    <button disabled class="button--appearance-outline">Outline</button>
    <button disabled class="button--appearance-subtle">Subtle</button>
    <button disabled class="button--appearance-transparent">Transparent</button>

</Showcase>

@code {
        
}
