@page "/inputRange"
<h1>Range</h1>
<p>
    <a href="https://web-components.fluentui.dev/?path=/docs/components-slider--docs" target="_blank">See on Web Components v3</a>
</p>
<Showcase>
    <input  type="range"/>
</Showcase>
<h2>STORIES</h2>
<h3>Default</h3>
<Showcase>
    <label>
        Range Input
        <input type="range" />
     </label>
</Showcase>

<h3>Without Label</h3>
<Showcase>
    <input type="range" />
</Showcase>

<h3>Disabled</h3>
<Showcase>
    <label>
        Range Input
        <input disabled type="range" />
    </label>
</Showcase>

<h2>Size</h2>

<h3>Smal</h3>
<Showcase>
  
        <input class="range--smal"  type="range" />
   
</Showcase>
<h3>Medium</h3>
<Showcase>
        <input  type="range" />
</Showcase>
@code {

}
